################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.DS_Store
bin
*.obj
*.tex
*.docx
*.code-workspace
*.egg-info
.*
__pycache__
/testy/bin
/testy/obj
/testy/.vs
/testy-wpf/bin
/testy-wpf/obj
/testy-maui/bin
/testy-maui/obj
/.vs
/packages
/packages/NPOI.2.4.1
/packages/SharpZipLib.1.2.0
/UpgradeLog.htm
/testy-wpf/publish
/testy-wpf/testy-wpf_1_TemporaryKey.pfx
/testy-wpf/testy-wpf_TemporaryKey.pfx
